{% load static %}
<!DOCTYPE html>

<head>
    <style>
        .xyz{
          margin-bottom: 0px;
          background-image: url('{% static "image/homepage.jpg" %}');
          background-size: cover;
          background-repeat: no-repeat;
        }
      </style>
      
</head>


<body>
  {% include "blood/navbar.html" %}
<br>
<section id="section-jumbotron" style="margin-bottom: 0px;" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center xyz">
    <div class="container text-center">
        
     
      <h1>Blood Bank Management System</h1>
      
      
    </div>  
  </section>
  <h2>As a patient or donor to the blood you nedd to login to the system . Generate your profile
    and make a request that will be approved by the admin.
  </h2>
  <h2>Thankyou for choosing this system.</h2>

  
  <div class="jumbotron" style="margin-top: 0px;margin-bottom: 0px;">
    <br><br>
<h1>
    “Opportunities knock the door sometimes, so lets go and donate blood.”
  </h1>
   
    <p class="text-center">F-Society</p>
    
  </div>
  <br><br><br><br><br>
  {% include "blood/footer.html" %}


</body>

</html>
